/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
h4{
    text-align: left;
    margin-top: 20px;
     margin-bottom: 30px;
}
 

h1 {
    margin: 0;
}

#formulario {
    background-color: #fff;
    padding: 18px;
    border-radius: 8px;
    margin: 18px auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilos de la tabla */
#tabla-datos {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

#tabla-datos th, #tabla-datos td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#tabla-datos th {
    background-color: #f2f2f2;
}

#tabla-datos img {
    width: 100px;
    height: auto;
    object-fit: cover;
}

/* Estilo del resultado */
#resultado {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
